.inp {
  padding: 15px;
  margin: 20px;
  width: 400px;
  font-size: 20px;
  border: none;
  border: 2px solid black;
  border-radius: 20px;
}

.btn {
  padding: 15px;
  margin: 5px;
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
}

.div1 {
  text-align: center;
  text-decoration: underline;
}